.add {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.star_full {
  margin: 4px;
  width: 40px;
  color: #f4e285;
}

.star_empty {
  margin: 4px;
  width: 40px;
  color: #9a9184;
}

.star_empty:hover {
  color: #f4e285;
  cursor: pointer;
}

.rating_container {
  display: flex;
  flex-direction: row;
  width: calc(300px + 1rem);
  justify-content: center;
}

.add_drink {
  padding: 16px;
  background-color: #002f47;
  color: white;
  width: 100%;
  margin: 32px 0;
  cursor: pointer;
}