.no_suggestions {
  color: #999;
  padding: 0;
}

.input {
  width: 300px;
  font-size: 24px;
  margin: 16px;
  padding: 8px;
  position: relative;
  border: 2px solid #222222;
}

.suggestions {
  border: 2px solid #222222;
  border-top-width: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  width: 300px;
  position: absolute;
  top: 64px;
  left: 16px;
}

.suggestions li {
  padding: 8px;
}

.suggestion {
  background-color: white;
  cursor: pointer;
}

.suggestion_active {
  background-color: #002f47;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
