.main_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: white;
}


.add {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.add_icon {
  width: 60px;
  color: #002f47;
}